<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Citas</title>
    <link rel="stylesheet" href="/static/css/detalle_cita.css" type="text/css">

</head>
<body>
    <figure>
        <img src="/static/img/logo_reina.png" alt="Logo" class="logo"/>
    </figure>

    <center>
    <br>
    <h1>Lista Total Citas</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </center>
        <center>
        <main>
            <table id="tabel" border="1"> 
                <tbody>
                <tr> 
                     
                    <td width="2">Nombre</td>                 
                    <td width="2">ID</td> 
                    <td width="2">Email</td> 

                </tr> 
                {% for pro in medicos %}
                    <tr>
                        <td width="2">{% print(pro[0]) %}</td> 
                        <td width="2">{% print(pro[1]) %}</td> 
                        <td width="2">{% print(pro[2]) %}</td>  
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
        </center>

</body>
</html>