<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Citas</title>
    <link rel="stylesheet" href="/static/css/detalle_cita.css" type="text/css">

</head>
<body>
    <figure>
        <img src="/static/img/logo_reina.png" alt="Logo" class="logo"/>
    </figure>

    <center>
    <br>
    <h1>Lista Total Citas</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </center>
        <center>
        <center>
        <main>
            <table id="tabel" border="1"> 
                <tbody>
                <tr> 
                    <td width="2">Id</td>                 
                    <td width="2">Motivo</td> 
                    <td width="2">Descripción</td> 
                    <td width="2">Fecha</td> 
                    <td width="2">Hora Entrada</td>                 
                    <td width="2">Hora Salida</td> 
                    <td width="2">Estado</td> 
                    <td width="2">ID-Paciente</td> 
                    <td width="2">ID-Medico</td>                 
                    <td width="2">Dirección</td> 
                    <td width="2">Ciudad</td> 
                    <td width="2">Celular</td> 
                    <td width="2">Primera Cita</td>                 
                    <td width="2">Comentarios</td> 
                    <td width="2">Valoración</td> 

                </tr> 
                {% for pro in citas %}
                    <tr>
                        
                        <td width="2">{% print(pro['ID']) %}</td> 
                        <td width="2">{% print(pro['Motivo']) %}</td> 
                        <td width="2">{% print(pro['Descipcion']) %}</td> 
                        <td width="2">{% print(pro['Fecha']) %}</td> 
                        <td width="2">{% print(pro['Hora_Inicial']) %}</td> 
                        <td width="2">{% print(pro['Hora_Salida']) %}</td> 
                        <td width="2">{% print(pro['Estado']) %}</td> 
                        <td width="2">{% print(pro['ID_Paciente']) %}</td> 
                        <td width="2">{% print(pro['ID_Medico']) %}</td> 
                        <td width="2">{% print(pro['Direccion']) %}</td> 
                        <td width="2">{% print(pro['Ciudad']) %}</td> 
                        <td width="2">{% print(pro['Celular']) %}</td> 
                        <td width="2">{% print(pro['Primera_Vez']) %}</td> 
                        <td width="2">{% print(pro['Comentarios']) %}</td> 
                        <td width="2">{% print(pro['Valoracion']) %}</td> 
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
        </center>

</body>
</html>