<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pacientes</title>
    <link rel="stylesheet" href="/static/css/detalle_cita.css" type="text/css">

</head>
<body>
    <figure>
        <img src="/static/img/logo_reina.png" alt="Logo" class="logo"/>
    </figure>

    <center>
    <br>
    <h1>Lista Total Pacientes</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </center>
        <center>
        <main>
            <table id="tabel" border="1"> 
                <tbody>
                <tr> 
                    
                    <td width="2">Id</td>                 
                    <td width="2">Tipo Documento</td> 
                    <td width="2">Numero Documento</td> 
                    <td width="2">Nombre</td> 
                    <td width="2">Email</td>                 
                    <td width="2">Tipo Persona</td> 

                </tr> 
                {% for pro in pacientes %}
                    <tr>
                        <td width="2">{% print(pro['ID']) %}</td> 
                        <td width="2">{% print(pro['Tipo Documento']) %}</td> 
                        <td width="2">{% print(pro['N. ID']) %}</td> 
                        <td width="2">{% print(pro['Nombre']) %}</td> 
                        <td width="2">{% print(pro['Email']) %}</td> 
                        <td width="2">{% print(pro['Regimen']) %}</td>    
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
        </center>

</body>
</html>